.textLayout{
    width:100%;
    display:block;
    height:42px;
    margin-bottom: 10px;
    border: 1px solid gray;

}
fieldset{
    width:70%;
}
.closeBtn{
    width: 11px;
    padding: 0px;
    border: none;
    background-color: none;
    color: red;
    margin-top: -1px;
    position: absolute;
    margin-left: -9px;
}
.inputBox{
    display:flex;
}
.btnSolid {
    width: 150px;
    padding: 10px;
    border: none;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }